*
{
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #333;
    padding: 10px 0; /* Added padding to create some space around the links */
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 30px;
  }
  
  .navbar ul li:last-child {
    margin-right: 0; /* Remove the margin for the last list item */
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  